[submodule "cores/Cores-SweRVolf"]
	path = cores/Cores-SweRVolf
	url = https://github.com/computer-modeling-group/Cores-SweRVolf.git
[submodule "riscv-compliance"]
	path = riscv-compliance
	url = https://github.com/computer-modeling-group/riscv-compliance.git
